* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

nav {
    height: 5.8vw; 
    width: 100vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09);
    display: flex;
    align-items: center;
    position:fixed;
    background: white;
}

nav .logo {
    display: flex;
    align-items: center;
    padding-left: 5.5vw;
    padding-top: 0.3vw;
    gap: 3.4vw;
    width: 38vw;
}

nav .other {
    border-bottom: 2px solid black;
    font-weight: 900;
}

nav .list {
    display: flex;
    align-items: center;
    
}

nav .list ul  {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 3.5vw;
}


nav .list ul li a {
    display: flex;
    align-items: center;
    gap: 0.8vw;
}

nav .list ul li a span {
    font-size: 1.3vw;
    color: #3d4152;
}

nav .list ul li a span:hover {
    color: orange;
    cursor: pointer;
}

main .mainlist {
    margin-left: 13vw;
    margin-right: 15vw;
    padding-top: 6vw;
    
}

main .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1vw;
}

main .heading .arrow {
    display: flex;
    align-items: center;
}

main .heading .arrow .arrows img{
    height: 2.8vw;
    width: 2.8vw;
    fill: #3d4152;
}

main .heading .arrow .arrows img:hover {
    cursor: pointer;
}

main .images {
    display: flex;
    align-items: center;
    gap: 1.5vw;
    overflow-x: hidden;
    margin-top: 0.5vw;
}

main .images .img2:hover {
    cursor: pointer;
}

main .images .img1 {
    margin-left: 1vw;
    cursor: pointer;
}

main .line {
    margin-left: 13.5vw;
    margin-right: 13.5vw;
    margin-top: 3.1vw;
    opacity: 0.3;
}

main .secondlist {
    margin-left: 13vw;
    margin-right: 15vw;
    padding-top: 3.5vw;
}

main .secondlist .heading1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5vw;
}


main .secondlist .heading1 .arrow {
    display: flex;
}

main .secondlist .heading1 .arrow .arrows img {
    height: 2.8vw;
    width: 2.8vw;
}

main .secondlist .heading1 .arrow .arrows img:hover {
    cursor: pointer;
}


main .secondlist .dishes {
    display: flex;
    gap: 2vw;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: thin;
    scrollbar-color: gray;
    white-space: nowrap;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: orange;
    border-radius: 20px;
}

main .secondlist .dishes .dish {
    position: relative;
    transition: 0.2s ease;
}


main .secondlist .dishes .dish:hover {
    transform: scale(0.95) ;
}

main .secondlist .dishes .dish img {
    height: 182px;
    width: 273px;
    object-fit: cover;
    border-radius: 1.5vw;
}

main .secondlist .dishes .dish .box {
    position: absolute;
    background: linear-gradient(rgba(27, 30, 36, 0) 0%, rgb(27, 30, 36) 84.21%);
    bottom: 80px;
    width: 273px;
    height: 80px;
    border-bottom-left-radius: 1.5vw;
    border-bottom-right-radius: 1.5vw;
}

main .secondlist .dishes .dish .box .price {
    position: relative;
    bottom: -48px;
    left: 10px;
    color: white;
    font: weight 700px;
    font-size: 1.4vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

main .secondlist .dishes .dish .about .name {
    font-weight: 900;
}


main .secondlist .dishes .dish .about .ratings {
    display: flex;
    gap: 0.3vw;
}

main .secondlist .dishes .dish .about .location1 {
    color: rgba(2, 6, 12, 0.6);
}

main .secondlist .dishes .dish .about .location2 {
    color: rgba(2, 6, 12, 0.6);
}

main .line1 {
    margin-left: 13.5vw;
    margin-right: 13.5vw;
    margin-top: 3.1vw;
    opacity: 0.3;
    margin-bottom: 3vw;
}

main .thirdlist {
    margin-left: 13vw;
    margin-right: 15vw;
}


main .thirdlist .buttons {
    display: flex;
    align-items: center;
    gap: 0.8vw;
    margin-top: 1vw;
}

main .thirdlist .buttons:hover {
    cursor: pointer;
}

main .thirdlist .buttons .button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(2, 6, 12, 0.15);
    box-sizing: border-box;
    padding: 0.5vw 0.8vw 0.5vw 1vw;
    border-radius: 2.5vw;
    color: rgba(0, 0, 0, 0.9);
}

main .thirdlist .buttons .button1{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(2, 6, 12, 0.15);
    box-sizing: border-box;
    padding: 0.5vw 0.8vw 0.5vw 0.8vw;
    border-radius: 2.5vw;
    color: rgba(0, 0, 0, 0.9);
}

main .thirdlist .buttons .button2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(2, 6, 12, 0.15);
    box-sizing: border-box;
    padding: 0.5vw 0.8vw 0.5vw 0.8vw;
    border-radius: 2.5vw;
    color: rgba(0, 0, 0, 0.9);
}

main .thirdlist .buttons .button3 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(2, 6, 12, 0.15);
    box-sizing: border-box;
    padding: 0.5vw 0.8vw 0.5vw 0.8vw;
    border-radius: 2.5vw;
    color: rgba(0, 0, 0, 0.9);
}

main .thirdlist .buttons .button4 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(2, 6, 12, 0.15);
    box-sizing: border-box;
    padding: 0.5vw 0.8vw 0.5vw 0.8vw;
    border-radius: 2.5vw;
    color: rgba(0, 0, 0, 0.9);
}

main .thirdlist .buttons .button5 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(2, 6, 12, 0.15);
    box-sizing: border-box;
    padding: 0.5vw 0.8vw 0.5vw 0.8vw;
    border-radius: 2.5vw;
    color: rgba(0, 0, 0, 0.9);
}

main .thirdlist .buttons .button6 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(2, 6, 12, 0.15);
    box-sizing: border-box;
    padding: 0.5vw 0.8vw 0.5vw 0.8vw;
    border-radius: 2.5vw;
    color: rgba(0, 0, 0, 0.9);
}

main .thirdlist .buttons .button7 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(2, 6, 12, 0.15);
    box-sizing: border-box;
    padding: 0.5vw 0.8vw 0.5vw 0.8vw;
    border-radius: 2.5vw;
    color: rgba(0, 0, 0, 0.9);
}






