* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

nav {
    height: 5.8vw; 
    width: 99vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09);
    display: flex;
    align-items: center;
    position: static;
    background: white;
}

nav .logo {
    display: flex;
    align-items: center;
    padding-left: 5.5vw;
    padding-top: 0.3vw;
    gap: 3.4vw;
    width: 38vw;
}

nav .other {
    border-bottom: 2px solid black;
    font-weight: 900;
}

nav .list {
    display: flex;
    align-items: center;
    
}

nav .list ul  {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 3.5vw;
}


nav .list ul li a {
    display: flex;
    align-items: center;
    gap: 0.8vw;
}

nav .list ul li a span {
    font-size: 1.3vw;
    color: #3d4152;
}

nav .list ul li a span:hover {
    color: orange;
    cursor: pointer;
}

main .mainlist {
    margin-left: 13vw;
    margin-right: 15vw;
    padding-top: 6vw;
    
}

main .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1vw;
}

main .heading .arrow {
    display: flex;
    align-items: center;
}

main .heading .arrow .arrows img{
    height: 2.8vw;
    width: 2.8vw;
    fill: #3d4152;
}

main .heading .arrow .arrows img:hover {
    cursor: pointer;
}

main .images {
    display: flex;
    align-items: center;
    gap: 1.5vw;
    overflow-x: hidden;
    margin-top: 0.5vw;
}

main .images .img2:hover {
    cursor: pointer;
}

main .images .img1 {
    margin-left: 1vw;
    cursor: pointer;
}

main .line {
    margin-left: 13.5vw;
    margin-right: 13.5vw;
    margin-top: 3.1vw;
    opacity: 0.3;
}

main .secondlist {
    margin-left: 13vw;
    margin-right: 15vw;
    padding-top: 3.5vw;
    position: initial;
}

main .secondlist .heading1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5vw;
}


main .secondlist .heading1 .arrow {
    display: flex;
}

main .secondlist .heading1 .arrow .arrows img {
    height: 2.8vw;
    width: 2.8vw;
}

main .secondlist .heading1 .arrow .arrows img:hover {
    cursor: pointer;
}


main .secondlist .dishes {
    display: flex;
    gap: 2vw;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: thin;
    scrollbar-color: gray;
    white-space: nowrap;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: orange;
    border-radius: 20px;
}

main .secondlist .dishes .dish {
    position: relative;
    transition: 0.2s ease;
}


main .secondlist .dishes .dish:hover {
    transform: scale(0.95) ;
}

main .secondlist .dishes .dish img {
    height: 182px;
    width: 273px;
    object-fit: cover;
    border-radius: 1.5vw;
}

main .secondlist .dishes .dish .box {
    position: absolute;
    background: linear-gradient(rgba(27, 30, 36, 0) 0%, rgb(27, 30, 36) 84.21%);
    bottom: 80px;
    width: 273px;
    height: 80px;
    border-bottom-left-radius: 1.5vw;
    border-bottom-right-radius: 1.5vw;
}

main .secondlist .dishes .dish .box .price {
    position: relative;
    bottom: -48px;
    left: 10px;
    color: white;
    font: weight 700px;
    font-size: 1.4vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

main .secondlist .dishes .dish .about .name {
    font-weight: 900;
}


main .secondlist .dishes .dish .about .ratings {
    display: flex;
    gap: 0.3vw;
}

main .secondlist .dishes .dish .about .location1 {
    color: rgba(2, 6, 12, 0.6);
}

main .secondlist .dishes .dish .about .location2 {
    color: rgba(2, 6, 12, 0.6);
}

main .line1 {
    margin-left: 13.5vw;
    margin-right: 13.5vw;
    margin-top: 3.1vw;
    opacity: 0.3;
    margin-bottom: 3vw;
}

main .thirdlist {
    margin-left: 13vw;
    margin-right: 15vw;
}


main .thirdlist .buttons {
    display: flex;
    align-items: center;
    gap: 0.8vw;
    margin-top: 1vw;
    margin-bottom: 2.5vw;
}

main .thirdlist .buttons:hover {
    cursor: pointer;
}

main .thirdlist .buttons .button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(2, 6, 12, 0.15);
    box-sizing: border-box;
    padding: 0.5vw 0.8vw 0.5vw 1vw;
    border-radius: 2.5vw;
    color: rgba(0, 0, 0, 0.9);
}

main .thirdlist .buttons .button1{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(2, 6, 12, 0.15);
    box-sizing: border-box;
    padding: 0.5vw 0.8vw 0.5vw 0.8vw;
    border-radius: 2.5vw;
    color: rgba(0, 0, 0, 0.9);
}

main .thirdlist .buttons .button2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(2, 6, 12, 0.15);
    box-sizing: border-box;
    padding: 0.5vw 0.8vw 0.5vw 0.8vw;
    border-radius: 2.5vw;
    color: rgba(0, 0, 0, 0.9);
}

main .thirdlist .buttons .button3 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(2, 6, 12, 0.15);
    box-sizing: border-box;
    padding: 0.5vw 0.8vw 0.5vw 0.8vw;
    border-radius: 2.5vw;
    color: rgba(0, 0, 0, 0.9);
}

main .thirdlist .buttons .button4 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(2, 6, 12, 0.15);
    box-sizing: border-box;
    padding: 0.5vw 0.8vw 0.5vw 0.8vw;
    border-radius: 2.5vw;
    color: rgba(0, 0, 0, 0.9);
}

main .thirdlist .buttons .button5 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(2, 6, 12, 0.15);
    box-sizing: border-box;
    padding: 0.5vw 0.8vw 0.5vw 0.8vw;
    border-radius: 2.5vw;
    color: rgba(0, 0, 0, 0.9);
}

main .thirdlist .buttons .button6 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(2, 6, 12, 0.15);
    box-sizing: border-box;
    padding: 0.5vw 0.8vw 0.5vw 0.8vw;
    border-radius: 2.5vw;
    color: rgba(0, 0, 0, 0.9);
}

main .thirdlist .buttons .button7 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(2, 6, 12, 0.15);
    box-sizing: border-box;
    padding: 0.5vw 0.8vw 0.5vw 0.8vw;
    border-radius: 2.5vw;
    color: rgba(0, 0, 0, 0.9);
}

main .thirdlist .dishes1 {
    display: flex;
    gap: 1.5vw;
    margin-bottom: 2vw;
}

main .thirdlist .dishes1 .dish1 {
    position: relative;
}

main .thirdlist .dishes1 .dish1:hover {
    transform: scale(0.95) ;
}

main .thirdlist .dishes1 .dish1 img {
    height: 158.66px;
    width: 238px;
    object-fit: cover;
    border-radius: 1.5vw;
}

main .thirdlist .dishes1 .dish1 .box1 {
    position: absolute;
    background: linear-gradient(rgba(27, 30, 36, 0) 0%, rgb(27, 30, 36) 84.21%);
    bottom: 80px;
    width: 238px;
    height: 80px;
    border-bottom-left-radius: 1.5vw;
    border-bottom-right-radius: 1.5vw;
}

main .thirdlist .dishes1 .dish1 .box1 .price1 {
    position: relative;
    bottom: -48px;
    left: 10px;
    color: white;
    font: weight 700px;
    font-size: 1.4vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

main .thirdlist .dishes1 .dish1 .about1 .name1 {
    font-weight: 900;
}


main .thirdlist .dishes1 .dish1 .about1 .ratings1 {
    display: flex;
    gap: 0.3vw;
}

main .thirdlist .dishes1 .dish1 .about1 .location3 {
    color: rgba(2, 6, 12, 0.6);
}

main .thirdlist .dishes1 .dish1 .about1 .location4 {
    color: rgba(2, 6, 12, 0.6);
}

main .thirdlist .dishes2 {
    display: flex;
    gap: 1.5vw;
    margin-bottom: 2vw;
}

main .thirdlist .dishes2 .dish2 {
    position: relative;
}

main .thirdlist .dishes2 .dish2:hover {
    transform: scale(0.95) ;
}

main .thirdlist .dishes2 .dish2 img {
    height: 158.66px;
    width: 238px;
    object-fit: cover;
    border-radius: 1.5vw;
}

main .thirdlist .dishes2 .dish2 .box2 {
    position: absolute;
    background: linear-gradient(rgba(27, 30, 36, 0) 0%, rgb(27, 30, 36) 84.21%);
    bottom: 80px;
    width: 238px;
    height: 80px;
    border-bottom-left-radius: 1.5vw;
    border-bottom-right-radius: 1.5vw;
}

main .thirdlist .dishes2 .dish2 .box2 .price2 {
    position: relative;
    bottom: -48px;
    left: 10px;
    color: white;
    font: weight 700px;
    font-size: 1.4vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

main .thirdlist .dishes2 .dish2 .about2 .name2 {
    font-weight: 900;
}


main .thirdlist .dishes2 .dish2 .about2 .ratings2 {
    display: flex;
    gap: 0.3vw;
}

main .thirdlist .dishes2 .dish2 .about2 .location5 {
    color: rgba(2, 6, 12, 0.6);
}

main .thirdlist .dishes2 .dish2 .about2 .location6 {
    color: rgba(2, 6, 12, 0.6);
}

main .thirdlist .dishes3 {
    display: flex;
    gap: 1.5vw;
    margin-bottom: 2vw;
}

main .thirdlist .dishes3 .dish3 {
    position: relative;
}

main .thirdlist .dishes3 .dish3:hover {
    transform: scale(0.95) ;
}

main .thirdlist .dishes3 .dish3 img {
    height: 158.66px;
    width: 238px;
    object-fit: cover;
    border-radius: 1.5vw;
}

main .thirdlist .dishes3 .dish3 .box3 {
    position: absolute;
    background: linear-gradient(rgba(27, 30, 36, 0) 0%, rgb(27, 30, 36) 84.21%);
    bottom: 80px;
    width: 238px;
    height: 80px;
    border-bottom-left-radius: 1.5vw;
    border-bottom-right-radius: 1.5vw;
}

main .thirdlist .dishes3 .dish3 .box3 .price3 {
    position: relative;
    bottom: -48px;
    left: 10px;
    color: white;
    font: weight 700px;
    font-size: 1.4vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

main .thirdlist .dishes3 .dish3 .about3 .name3 {
    font-weight: 900;
}


main .thirdlist .dishes3 .dish3 .about3 .ratings3 {
    display: flex;
    gap: 0.3vw;
}

main .thirdlist .dishes3 .dish3 .about3 .location7 {
    color: rgba(2, 6, 12, 0.6);
}

main .thirdlist .dishes3 .dish3 .about3 .location8 {
    color: rgba(2, 6, 12, 0.6);
}

.line1 {
    margin-left: 11.5vw;
    margin-right: 11.5vw;
    margin-top: 3.1vw;
    opacity: 0.3;
    margin-bottom: 3vw;
}

footer .heading1 {
    margin-left: 11vw;
    margin-right: 13vw;
    padding-top: 1vw;
}

footer .boxes {
    margin-left: 11vw;
    margin-right: 11vw;
    padding-top: 1.5vw;
}

footer .boxes .boxline1 {
    display: flex;
    align-items: center;
    gap: 2vw;
    box-sizing: border-box;
    margin-bottom: 1.5vw;
}

footer .boxes .boxline1 .b1 {
    border: 1px solid rgba(2, 6, 12, 0.15);
    height: 4vw;
    width: 25vw;
    border-radius: 1vw;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(2, 6, 12, 0.75);
    font-weight: 600;
}

footer .boxes .boxline1 .b1:hover {
    cursor: pointer;
}

footer .boxes .boxline2 {
    display: flex;
    align-items: center;
    gap: 2vw;
    box-sizing: border-box;
    margin-bottom: 1.5vw;
}

footer .boxes .boxline2 .b1 {
    border: 1px solid rgba(2, 6, 12, 0.15);
    height: 4vw;
    width: 25vw;
    border-radius: 1vw;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(2, 6, 12, 0.75);
    font-weight: 600;
}

footer .boxes .boxline2 .b1:hover {
    cursor: pointer;
}

footer .boxes .boxline3 {
    display: flex;
    align-items: center;
    gap: 2vw;
    box-sizing: border-box;
    margin-bottom: 6.5vw;
}

footer .boxes .boxline3 .b1 {
    border: 1px solid rgba(2, 6, 12, 0.15);
    height: 4vw;
    width: 22vw;
    border-radius: 1vw;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(2, 6, 12, 0.75);
    font-weight: 600;
}

footer .boxes .boxline3 .b1:hover {
    cursor: pointer;
}

footer .heading2 {
    margin-left: 11vw;
    margin-right: 13vw;
}

footer .explore .twobtn{
    display: flex;
    align-items: center;
    margin-left: 11vw;
    margin-right: 11vw;
    gap: 2vw;
    margin-top: 1.5vw;
    margin-bottom: 8vw;
}

footer .explore .twobtn:hover {
    cursor: pointer;
}

footer .explore .twobtn .btn {
    height: 4vw;
    width: 60vw;
    border: 1px solid rgba(2, 6, 12, 0.15);
    color: rgba(2, 6, 12, 0.75);
    font-weight: 600;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
}

footer .download {
    height: 7.5vw;
    background: rgb(240, 240, 245);
    display: flex;
    align-items: center;

}

footer .download .text {
    width: 54%;
    padding-left: 14.5vw;
}

footer .download .text .txt {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 1.5px;
    color: rgba(2, 6, 12, 0.75);
}

footer .download .dbtn {
    display: flex;
    align-items: center;
    width: 48%;
    gap: 2vw;
}

footer .download .dbtn:hover {
    cursor: pointer;
}

footer .download .dbtn .img1 img {
    height: 64px;
    width: 201.55px;
}

footer .download .dbtn .img2 img {
    height: 64px;
    width: 186.67px;
}

footer .last {
    width: 99.25vw;
    height: 36vw;
    background: rgb(2, 6, 12);
    padding-left: 18vw;
}

footer .last .swiggy .logo{
    padding-top: 5vw;
}












